.container {
  width: 640px;
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

button {
  display: block;
  width: 100%;
}

.newsletter-box {
  color: grey;
  border: solid thin #cfcfcf;
  padding: 10px;
  position: relative
}

.newsletter-box h3 {
  margin-top: 0px;
}

button {
  color: white;
  background: #3cb878;
  border: none;
  height: 30px;
  margin-bottom: 10px;
}

#email {
  width: 100%;
  height: 30px;
  padding: 3px;
  border: solid thin #cfcfcf;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 5px;
}
#terms {
  position: relative;
  top: 2px;
  left: 0px;
}

.closex {
  position: absolute;
  top: 0px;
  right: 7px;
  cursor: pointer;
}

.questioncircle {
  width: 100px;
  height: 100px;
  background: #3cb878;
  border-radius: 50%;
  
  color: white;
  font-size: 70px;
  text-align: center;
  
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.card {
  width: 180px;
  background: #3cb878;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 5px;
  box-shadow: 0px 0px 5px 2px grey;
}
.card-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  
  margin-bottom: 20px;
}